*{
    font-family: Arial, Helvetica, sans-serif;
}
.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 800px;
    height: 300px;
    margin-top: 20px;
    border-radius: 20px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
}

.btn {
    width: 100px;
    font-size: 1rem;
    padding: 0.5rem;
    background-color: #3182ce;
    border-radius: 7px;
    color: white;
    border: none;
    font-weight: bold;
}

.btn:hover {
    cursor: pointer;
}


.user-info {
    width: 100%;
    height: 7%;
    /* border: 1px solid grey; */
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    align-items: center;
}

.username {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1.5rem;
    align-items: center;
}

.icon {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.icon .circle {
    background-color: #1AA0F7;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.icon .twitter {
    margin: auto;
    width: 17px;
    height: 17px;
    color: #fff;
    border-radius: 10px;
}

.text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;

}

.text .verified {
    color: #1AA0F7;
    font-size: 1.3rem;
    margin-left: 0.3rem;
}

.info p {
    margin-top: 0;
    margin-bottom: 0;
}

.info .header {
    font-weight: 600;
    align-items: center;
    display: flex;
}

.info .sub-header {
    font-size: 0.95rem;
    color: #7E8188;
}

.twitter-logo {
    margin-right: 1.5rem;
    display: flex;
    justify-content: center;
}

.twitter-right {
    color: #1AA0F7;
    font-size: 1.5rem;
    margin: auto;
}

.tweet {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.tweet-info {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: space-between;
}

.likes-date p {
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
    display: flex;
}

.likes-date {
    display: flex;
    flex-direction: row;
    width: 53%;
    justify-content: space-between;
    color: #7E8188;
    align-items: center;
}

.hearts {
    color: #7E8188;
    font-size: 1.3rem;
    margin-right: 0.2rem;
}

.more-info {
    color: #7E8188;
    font-size: 1.3rem;
    margin-right: 0.2rem;
}


.comments-info {
    margin-top: -1rem;
    margin-bottom: 0;
    border-top: 1px solid #E6E6E6;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.comments {
    color: #5988B4;
    margin-right: 0.3rem;
    font-size: 1.1rem;
}

.people {
    margin-top: 1rem;
    margin-left: 1.5rem;
    color: #5988B4;
    align-items: center;
    display: flex;
}

.arrow {
    margin-top: 1rem;
    margin-right: 1.7rem;
    color: #7E8188;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
    width: 100%;
}

.comment-card {
    width: 650px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #eaf9ff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f3f4;
    height: 100vh;
}

.account-card {
    width: 800px;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    background-color: #fff;
}

.back-photo {
    background-color: #ccd6dd;
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* position: relative; */
}

.user-icon {
    color: #657786;
    font-size: 10rem;
    position: absolute;
    top: 20%;
    margin-left: 2rem;
}

.us-info {
    width: 100%;
    height: 20%;
    /* background-color: #f0f0f0; */
    margin-top: 4rem;
}

.us-info .verified {
    color: #1AA0F7;
    font-size: 1.3rem;
    margin-left: 0.3rem;
}

.us-info p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1rem;
}

.us-info .header {
    font-weight: 600;
    align-items: center;
    display: flex;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.6rem;
    margin-left: 1rem;
}