#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%; /* Set body height to full screen height */
}

html {
  height: 100%; /* Set html height to full screen height */
}

.main-menu {
  background-color: #333;
  color: #fff;
  padding: 25px;
  display: flex;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.main-menu li {
  display: inline-block;
  margin-right: 20px;
}

.main-menu a {
  color: #fff;
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-columns: 300px 1fr; /* Sidebar width and Main content area takes the remaining space */
  grid-template-rows: 1fr; /* Set container height to full screen height */
  grid-gap: 20px;
  /* padding: 20px; */
  height: 100%; /* Set container height to full screen height */
}

.sidebar {
  background-color: #f1f1f1;
  padding: 10px;
  height: 100%; /* Set sidebar height to full screen height */
}

.content {
  padding: 10px;
  height: 100%; /* Set main content area height to full screen height */
}

.user-card {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info {
  flex: 1;
}

.full-name {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.username {
  font-size: 14px;
  color: #666;
  margin: 0;
}
